@import url(globals.css);
@import url(responsive.css);

.nav {
  padding: 1rem 2rem;
  background-color: var(--clr-bcg-nav);
}

.logo {
  display: none;
}
.menu-btn {
  font-size: 1.5rem;
}

.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navlinks-container {
  display: none;
}
.nav-link:not(.active-link):hover {
  background-color: var(--clr-bcg-nav-hover);
}

.icons-container {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.5rem;
  column-gap: 1rem;
}
.icon-btn {
  font-size: 1.4rem;
}
.cart-icon {
  position: relative;
  padding: 0;
}
.cart-icon-amount {
  position: absolute;
  font-size: 0.8rem;
  top: -0.5rem;
  right: -0.4rem;
  background-color: var(--clr-primary-1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  color: var(--clr-white);
}

.profile-container {
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
}

.nav-profile-container {
  position: relative;
  z-index: 20;
}
.nav-profile-img {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.nav-profile-submenu {
  display: grid;
  position: absolute;
  top: 4rem;
  border-radius: var(--radius);
  background-color: var(--clr-bcg-nav);
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
  width: 150px;
}
.show-profile-submenu {
  opacity: 1;
  visibility: visible;
}
.nav-profile-btn {
  padding: 0.5rem;
  border-radius: var(--radius);
}
.nav-profile-btn:hover {
  background-color: var(--clr-active-link);
  color: var(--clr-white);
}

.currency {
  width: auto !important;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
}

.flag {
  width: 20px;
  height: 20px;
}

.add-products-btn {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  padding: 0;
}

/* auth */

.form-section {
  display: grid;
  place-items: center;
  min-height: 100vh;
}
.form-group {
  max-width: var(--fixed-width);
  width: 100%;
  background-color: var(--clr-bcg-nav);
  padding: 1rem 2rem;
  border-radius: var(--radius);
  position: relative;
}

.input-container {
  position: relative;
  width: 100%;
}

.input-container h5 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 0.5rem;
  pointer-events: none;
  transition: var(--transition);
  font-size: 1rem;
}
.form-group h3 {
  text-align: center;
  margin-bottom: 1rem;
}
.form-group .form-control {
  margin-top: 1rem;
}
.form-group p::first-letter {
  text-transform: capitalize;
}
.auth-input {
  background-color: transparent;
  padding: 1rem 0.5rem;
  border-bottom: 1px solid;
  border-radius: 0;
}
.auth-btn {
  color: var(--clr-white);
}
.auth-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.auth-btn:disabled:hover {
  background-color: var(--clr-primary-1);
}
.auth-input:focus + h5,
.auth-input:not(:placeholder-shown) + h5 {
  top: 0.7rem;
  font-size: 0.7rem;
}
.auth-question {
  text-align: center;
  margin-top: 1rem;
  text-transform: capitalize;
}
.auth-link-btn {
  color: var(--clr-primary-1);
  padding: 0;
}
.back-btn {
  color: var(--clr-primary-1);
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 2rem;
}

.verified-title {
  text-align: center;
}
.verified-btn {
  color: var(--clr-white);
}

.field-error {
  border-bottom-color: var(--clr-red-light);
}

/* sidebar */

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  padding: 1rem;
  display: grid;
  place-items: center;
  background-color: rgb(238, 245, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  opacity: 0;
  visibility: hidden;
  z-index: 50;
  transition: var(--transition);
}
.show-sidebar {
  opacity: 1;
  visibility: visible;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 1.5rem;
}

.sidebar-link {
  font-size: 1.5rem;
  color: var(--clr-black);
}

/* home page  */

.hero-container {
  background-color: var(--clr-bcg-nav);
  padding: 2rem;
  border-radius: var(--radius);
  margin-top: 2rem;
}
.hero-container h1 {
  margin-bottom: 1rem;
}
.hero-container h1:nth-child(5) {
  margin-bottom: 0 !important;
}

.hero-link {
  padding: 0;
  width: 100%;
  display: block;
}

.hero-img {
  background-color: var(--clr-black);
  -o-object-fit: contain;
  object-fit: contain;
  height: 400px;
}

.hero-btn {
  color: var(--clr-white);
}

.swiper-container {
  position: relative;
}

.swiper-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  font-size: 2.5rem;
  color: var(--clr-font);
  opacity: 0.7;
}
.swiper-btn:hover {
  opacity: 1;
}

.next-slide {
  right: 0.5rem;
}
.prev-slide {
  left: 0.5rem;
}

.swiper-button-disabled {
  opacity: 0.5;
}

/* featured */

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 1rem;
}

.product {
  background-color: var(--clr-bcg-nav);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  transition: var(--transition);
  display: flex;
  flex-direction: column;
}
.product:hover {
  box-shadow: var(--light-shadow);
}

.product-img-link {
  display: block;
  background-color: var(--clr-black);
  padding: 0;
}

.product-img {
  width: 100%;
  height: 150px;
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: var(--radius);
}
.default-img {
  -o-object-fit: initial !important;
  object-fit: initial !important;
  border-radius: 0 !important;
}

.product-price {
  font-weight: 600;
}

.product-info-container {
  padding: 1rem;
  flex-grow: 1;
}
.product-description {
  margin-top: 0.5rem;
}
.product-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 0 1rem 1rem;
}
.detail-btn {
  margin-top: 0 !important;
  color: var(--clr-white);
}

/* about */

.about-center {
  text-align: center;
}
.about-center h1 span {
  background-color: var(--clr-primary-1);
  color: var(--clr-white);
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
}

.about-description {
  max-width: var(--fixed-width);
  margin: 2rem auto;
  text-align: left;
  font-size: 1.2rem;
  line-height: 2rem;
}

/* products */

.filter-center {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  gap: 1rem;
  background-color: var(--clr-bcg-nav);
  padding: 2rem;
  border-radius: var(--radius);
}

.filter-center .form-control {
  margin-bottom: 0;
}

.dropdown-title {
  margin-left: 0.5rem;
}

.filter-input {
  width: 100%;
  padding: 0.8rem 0.5rem;
  border-radius: var(--radius);
  border: 1px solid silver;
  cursor: pointer !important;
  font-size: 1.1rem;
}
.filter-input + h5 {
  color: var(--clr-black);
}

.filter-input:focus + h5,
.filter-input:not(:placeholder-shown) + h5 {
  top: 0.6rem;
  font-size: 0.7rem;
}

.dropdown-container {
  background-color: #fff;
  height: 50px;
  border-radius: var(--radius);
  border: 1px solid silver;
  margin-bottom: 0 !important;
  cursor: pointer;
  position: relative;
}
.dropdown-container:focus {
  outline: 1px solid black;
}

.dropdown-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.focused .dropdown-title {
  top: 0.5rem;
  font-size: 0.7rem !important;
}

.dropdown-title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  transition: var(--transition);
  color: var(--clr-black);
}

.selected-option {
  padding: 0 0.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--clr-black);
}

.dropdown-options {
  position: absolute;
  top: 3.2rem;
  background-color: #fff;
  color: var(--clr-black);
  width: 100%;
  height: auto;
  z-index: 1;
  border-radius: var(--radius);
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
  text-transform: capitalize;
}
.show-dropdown {
  opacity: 1;
  visibility: visible;
}

.dropdown-option {
  display: block;
  padding: 0.5rem;
  transition: var(--transition);
}
.dropdown-option:nth-child(1) {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}
.dropdown-option:nth-child(3) {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
.dropdown-option:hover {
  color: var(--clr-white);
  background-color: var(--clr-active-link);
}

.arrow-icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  transition: all 0.2s ease-in-out;
}
.arrow-icon.rotate {
  transform: rotate(180deg) translateY(50%);
}

.filter-price {
  align-self: flex-end;
}

.range-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.form-control label {
  align-self: center;
  text-transform: capitalize;
}

.range-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.range-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  margin: 0.5rem 0;
}

.range-input::-webkit-slider-runnable-track {
  height: 2px;
  background-color: silver;
}
.range-input::-webkit-slider-thumb {
  padding: 0.7rem;
  transform: translateY(-50%);
}

.checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px !important;
  height: 20px;
  margin: 0 auto;
  border: 1px solid var(--clr-primary-1) !important;
  background-color: transparent !important;
  cursor: pointer;
  transition: var(--transition);
}
.checkbox-input:checked {
  background-color: var(--clr-primary-1) !important;
  position: relative;
}
.checkbox-input:checked::before {
  content: "\2713";
  position: absolute;
  font-size: 0.7rem;
  color: var(--clr-white);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.filter-btn {
  color: var(--clr-white);
  margin-top: 0.5rem;
}

/* products */

.products-section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products-section-title h5 {
  font-size: 1rem;
}

.views-container {
  display: flex;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
}
.view-btn {
  font-size: 1.7rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
.view-btn:not(.active-view):hover {
  background-color: rgb(224, 224, 224);
}

.active-view {
  background-color: var(--clr-primary-1);
  color: var(--clr-white);
}

/* product list view */

.products-container-list {
  display: flex;
  row-gap: 2rem;
  flex-wrap: wrap;
}

.product-list {
  display: flex;
  width: 100%;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  background-color: var(--clr-bcg-nav);
  padding: 1rem;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  transition: var(--transition);
}
.product-list:hover {
  box-shadow: var(--light-shadow);
}

.product-img-list {
  width: 150px;
  height: 100px;
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: var(--radius);
}

.product-model {
  margin: 0.5rem 0;
  color: rgb(153, 153, 153);
}

.product-link-list {
  padding: 0;
  background-color: var(--clr-black);
}

.product-footer-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  min-height: 100%;
  flex-grow: 1;
}

/* single product */

.single-product-section {
  margin-top: 3rem;
}

.path-btn {
  padding: 0;
}

.added-by {
  margin-top: 0.5rem;
}

.single-product-wrapper {
  margin-top: 1rem;
}

.single-product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.single-product-img {
  height: 400px;
  -o-object-fit: contain;
  object-fit: contain;
  background-color: var(--clr-black);
}

.single-product-description-container {
  background-color: var(--clr-bcg-nav);
  margin: 1rem 0;
  padding: 1rem;
  border-radius: var(--radius);
}

.single-product-description-container h3 {
  margin-bottom: 0.5rem;
}

.single-product-info-container {
  background-color: var(--clr-bcg-nav);
  padding: 1rem;
  border-radius: var(--radius);
}
.single-product-info {
  display: flex;
  margin: 0.5rem 0;
}
.single-product-info p {
  text-transform: capitalize;
}

.single-product-info p {
  width: 100%;
}

.single-product-btn {
  color: var(--clr-white);
  width: 100%;
}

.amount-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}
.amount-container {
  background-color: var(--clr-bcg-nav);
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  padding: 1rem 0.5rem;
}

.amount-btn {
  margin: 0 1rem;
}

.empty-item {
  text-align: right;
  margin-top: 2rem;
}

.alert-container {
  text-align: center;
  width: 300px;
  border-radius: var(--radius);
  background-color: var(--clr-black);
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translate(-50%, -200%);
  z-index: 20;
  padding: 1rem 0;
  text-transform: capitalize;
  transition: all 0.1s ease;
}

.show-cart-alert {
  transform: translate(-50%, 0);
}

/* modal */

.modal-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}
.show-modal {
  opacity: 1;
  visibility: visible;
}

.form-center {
  max-width: var(--max-width);
  margin: 0 auto;
  background-color: var(--clr-bcg-nav);
  padding: 2rem;
  border-radius: var(--radius);
}

.form-modal {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

.close-btn {
  color: var(--clr-red-light);
  margin-bottom: 1rem;
  display: block;
  margin-left: auto;
  font-size: 2rem;
  transition: var(--transition);
}
.close-btn:hover {
  color: var(--clr-red-dark);
}

.form-center .form-control,
.form-center .dropdown-container {
  margin-bottom: 1rem !important;
}

.color-input-container {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
}

.color-input {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--clr-primary-1);
}

.choose-image {
  height: 150px;
  border: 1px solid var(--clr-primary-1);
  border-radius: var(--radius);
  display: grid;
  place-items: center;
  cursor: pointer;
}

.add-image-btn {
  font-size: 2rem;
}

.choose-image:hover .add-image-btn {
  opacity: 0.7;
}

.preview-images-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  margin: 2rem 0;
}

.preview-images {
  position: relative;
  flex-grow: 1;
}

.preview-image {
  height: 150px;
  -o-object-fit: contain;
  object-fit: contain;
  background-color: var(--clr-black);
  border-radius: var(--radius);
}

.delete-preview-image {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  background-color: var(--clr-black);
  border-radius: 50%;
  color: var(--clr-red-light);
  padding: 0.3rem;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--clr-red-light);
}

.delete-preview-image:hover {
  color: var(--clr-red-dark);
}

.add-product-description {
  width: 100%;
  height: 100px;
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
  min-width: 50%;
  padding: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  border-radius: var(--radius);
}

.stock-control {
  width: 80px;
}

.error-field {
  color: var(--clr-red-light);
  margin-bottom: 0.5rem;
}

.alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  display: none;
}
.show-alert {
  display: grid;
  place-items: center;
}

/* my products */

.my-product {
  position: relative;
}

.three-dots {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0.2rem;
  background-color: var(--clr-bcg-nav);
  border-radius: 50%;
}

.my-product-dropdown {
  position: absolute;
  top: 3rem;
  right: 1rem;
  background-color: var(--clr-bcg-nav);
  border-radius: var(--radius);
  display: grid;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}

.show-product-dropdown {
  opacity: 1;
  visibility: visible;
}

.dropdown-btn {
  padding: 0.5rem;
  border-radius: var(--radius);
}
.dropdown-btn:hover {
  background-color: var(--clr-black);
  color: var(--clr-white);
}

/* comments */

.rating-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.rating-container h3 {
  margin-right: 0.5rem;
}

.rating-container span {
  font-size: 2rem;
}

.comments-container {
  margin-top: 2rem;
  background-color: var(--clr-bcg-nav);
  padding: 1rem;
  border-radius: var(--radius);
}

.comment-input {
  margin-top: 0.5rem;
  width: 100%;
  height: 100px;
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
  min-width: 50%;
  border-radius: var(--radius);
  padding: 0.5rem;
}

.user-comment-wrapper {
  background-color: #fff;
  border-radius: var(--radius);
  padding: 1rem;
  margin-top: 1.5rem;
  position: relative;
}
.user-comment-wrapper:hover .comment-btn-container {
  opacity: 1;
  visibility: visible;
}

.comment-error {
  text-align: center;
  color: var(--clr-red-light);
}

.comment-alert {
  text-align: center;
}

.comment-btn-container {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  display: flex;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}
.comment-btn {
  transition: var(--transition);
}
.edit-btn {
  color: seagreen;
}
.edit-btn:hover {
  color: rgb(32, 92, 58);
}
.delete-btn {
  color: var(--clr-red-light);
  border-radius: var(--radius);
}
.delete-btn:hover {
  color: var(--clr-red-dark);
}

.user-comment-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.user-comment-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
}
.user-comment-header h5 {
  font-size: 1rem;
  color: var(--clr-black);
}

.comment-updated-date {
  color: var(--clr-black);
}

.user-comment-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-comment-description {
  color: var(--clr-black);
}

.no-comment-msg {
  margin: 2rem 0 1rem;
}

.star-container {
  position: relative;
}

.star-half {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
}

.star-full {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
}

.delete-comment-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.delete-comment-modal {
  background-color: var(--clr-white);
  padding: 1rem 2rem;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

.delete-comment-modal h3 {
  color: var(--clr-black);
}

.delete-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  margin-top: 1rem;
}

.delete-comment-btn {
  background-color: var(--clr-red-light);
  padding: 0.5rem;
  border-radius: var(--radius);
  color: var(--clr-white);
}
.delete-comment-btn:hover {
  background-color: var(--clr-red-dark);
}

.cancel-btn {
  background-color: var(--clr-primary-1);
  padding: 0.5rem;
  border-radius: var(--radius);
  transition: var(--transition);
  color: var(--clr-white);
}
.cancel-btn:hover {
  background-color: var(--clr-primary-2);
}

/* cart */

.cart-center {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  position: relative;
}

.cart-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem;
  background-color: var(--clr-bcg-nav);
  padding: 1rem;
  border-radius: var(--radius);
  transition: var(--transition);
  box-shadow: var(--shadow);
}
.cart-item:hover {
  box-shadow: var(--light-shadow);
}

.cart-item-img {
  width: 200px;
  height: 100px;
  -o-object-fit: contain;
  object-fit: contain;
  background-color: var(--clr-black);
  border-radius: var(--radius);
}

.cart-item-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100px;
}

.cart-item-info h6 {
  margin: 0.3rem 0;
  font-size: 0.665rem;
}

.cart-color-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--clr-primary-1);
}

.cart-amount-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.cart-remove-btn {
  align-self: center;
  color: var(--clr-red-light);
  transition: var(--transition);
}
.cart-remove-btn:hover {
  color: var(--clr-red-dark);
}

/* calculate totals */

.totals-container {
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
  align-self: flex-start;
  width: 40%;
}

.totals-info {
  border-radius: var(--radius);
  background-color: var(--clr-bcg-nav);
  padding: 1rem;
}

.totals-context {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid silver;
  padding: 0.5rem 0;
  text-transform: capitalize;
}

.totals-context:not(:last-child) {
  margin-bottom: 0.5rem;
}

.order-total {
  margin-top: 2rem;
  border: 0;
}

.calculate-btn {
  color: var(--clr-white);
}

/* checkout */

.checkout-center {
  max-width: var(--fixed-width);
  display: grid;
  place-items: center;
  margin-top: 5rem;
}

.checkout-btn {
  color: var(--clr-white);
}

.payment {
  width: 100%;
}

.test-number {
  color: silver;
  font-size: 0.8rem;
  margin-top: 1rem;
  text-transform: capitalize;
}

.confirm-payment {
  display: grid;
  place-items: center;
  max-width: var(--fixed-width);
  margin: 0 auto;
  min-height: calc(100vh - 75px);
}

.payment-error {
  text-align: center;
  margin-bottom: 1rem;
}
