:root {
  --clr-white: #f1f5f8;
  --clr-black: #222222;
  --max-width: 1300px;
  --fixed-width: 600px;
  --transition: all 0.2s ease-in-out;
  --radius: 0.5rem;
  --shadow: rgba(0, 0, 0, 0.5) 0 5px 10px;
  --clr-red-light: rgb(212, 62, 35);
  --clr-red-dark: rgb(161, 49, 30);
  --clr-success: #4caf50;
}

.light-theme {
  --clr-bcg: #ffffff;
  --clr-bcg-nav: #eef5ff;
  --clr-bcg-nav-hover: #dee5f0;
  --clr-font: #394e6a;
  --clr-primary-1: #0069e0;
  --clr-primary-2: #1260b9;
  --clr-active-link: #021431;
  --shadow: rgba(0, 0, 0, 0.3) 0 10px 25px;
  --light-shadow: rgba(0, 0, 0, 0.5) 0 10px 30px;
}

.dark-theme {
  --clr-bcg: #272935;
  --clr-bcg-nav: #181920;
  --clr-bcg-nav-hover: #2f2f35;
  --clr-font: #f1f5f8;
  --clr-primary-1: #ff7ac6;
  --clr-primary-2: #ff57b6;
  --clr-active-link: #414558;
  --shadow: rgba(255, 255, 255, 0.3) 0 10px 25px;
  --light-shadow: rgba(255, 255, 255, 0.5) 0 10px 25px;
}
